import React from 'react';
import { css } from '@emotion/core'

const {{name}} = ({}: {{name}}Props) => {
  return <div>{{name}}</div>;
};

export interface {{name}}Props {}

export default {{name}};
